/* Setting the margin top to be zero for all */
* {
  margin-top: 0;
}

/* adding in the fonts for to be used */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-left: -0px;
}

#top-header {
  width: 89.99vw;
  display: flex;
  padding-left: 120px;

  background-color: #ff4800;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: #fff;
  font-size: 12px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
}

#contact-details a {
  color: #fff;
}

#contact-details :nth-child(1) {
  padding-right: 40px;
}

#donate {
  padding-right: 100px;
}

#donate button {
  border: 2px solid black;
  padding: 20px 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  background: black;
}

/* styling the nav bar */

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 12px;
  width: 90vw;
}

#nav-links {
  padding-top: 40px;
}

#nav-links span {
  padding-right: 40px;
}

nav img {
  width: 7%;
  padding-left: 50px;
}

#nav-links span a {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
  font-weight: 500;
}


#nav-links span a:hover,
.links a {
  border-bottom: 3px solid #ff5a00;
  color: #ff5a00;
}

#hero-section {
  background-image: url(..//assets/images/hero_slider_img\ \(1\).jpg);
  width: 98.74vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: -10px;
}

.text-wrapper {
  text-align: left;
  margin-left: -420px;
}

.header h1 {
  font-family: "Montserrat";
  font-size: 102px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.header h4 {
  font-family: "Montserrat";
  font-size: 46px;
  font-weight: 600;
}

.header-p {
  font-family: "Montserrat";
  ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
  text-align: left;
  max-width: 700px;
}

.btns {
  margin-top: 3rem !important;
}

.btn-1,
.btn-2 {
  border: 2px solid #262626;
  border-radius: 24px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1;
  padding: 18px 40px;
  color: #fff;
  text-decoration: none;

}

.btn-1,
.btn-2:hover {
  border-color: transparent;
  background: linear-gradient(270deg, rgba(255, 90, 0, 1) 0%, rgba(255, 54, 0, 1) 100%);
  margin-right: 10px;
}

.btn-2 {
  border-color: #ff5a00;
  background-color: transparent;
}

/* styling icon box */
#icon-box {
  display: flex;
  gap: 30px;
  padding-left: 125px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 80vw;
}

.box-1,
.box-2:hover,
.box-3:hover {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid;
  border-radius: 24px;
  padding: 40px;
  border-color: transparent;
  background-color: #ff4800;
  max-width: 33.333333%;
  text-align: center;
}

.box-2 img,
.box-3 img {
  color: #262626;
}

.box-2,
.box-3 {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid;
  border-radius: 24px;
  padding: 40px;
  border-color: transparent;
  background-color: #ff4800;
  background-color: #ecf2f5;
  max-width: 33.333333%;
  text-align: center;
}

.image-hover1 {
  background-image: url(../assets/icons/dance_music_gray.webp);
  width: 20%;
  height: 35%;
  background-size: contain;
  transition: 0.4s ease-in-out;
  /* Smooth transition */
  background-repeat: no-repeat;
  margin: 0 100px;
}

.image-hover1:hover {
  background-image: url(../assets/icons/dance_music.webp);
}

.image-hover2 {
  background-image: url(../assets/icons/online_conference_gray.webp);
  width: 20%;
  height: 35%;
  background-size: contain;
  transition: 0.4s ease-in-out;
  /* Smooth transition */
  background-repeat: no-repeat;
  margin: 0 100px;
}

.image-hover2:hover {
  background-image: url(../assets/icons/online_conference.webp);
}

/* styling the welcome section */
#welcome {
  background-image: linear-gradient(to left,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url(../assets/images/hero_slider_img\ \(2\).jpg);
  display: flex;
  width: 81.1vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding: 0 120px;
}

#welcome-img {
  padding-top: 70px;
}

#welcome-img img {

  width: 540px;
  height: 481.28;
}

.h2-header {
  padding-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
  font-family: 'Montserrat';
  color: #fff;
  position: relative;
}

.h2-header::after {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 0;
  transform: translateX(-50%);
  width: 64px;
  /* Adjust the width as needed */
  height: 4px;
  /* Adjust the thickness of the border */
  background-color: #ff5a00;
  border-radius: 2px;
}

.welcome-text {
  padding-right: 50px;
}

.welcome-text p {
  font-size: 14px;
  line-height: 2;
  color: #e7e6e6;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 30px;
}

/* styling the events section */

#events {
  display: flex;
  width: 87vw;
  padding: 100px 50px 50px 100px;

}

#upcoming-events {
  flex-basis: 50%;
}

.event-details {
  display: flex;
  margin-bottom: 20px;
  height: 160px;
}

.event-details img {
  width: 30%;
  height: 100%;
  padding-right: 30px;
}

#events h2 {
  color: black;
}

h3 a {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 3px;

}

/* .details-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
} */

.details-text span {
  padding-top: -70px;
}

.details-text span a {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: 500;
  height: 11px;
  line-height: 11px;
  margin-right: 14px;
  padding-right: 14px;
  position: relative;
  text-align: left;
  color: rgb(38, 38, 38);
  text-decoration: none;
}

.details-text span :nth-child(1)::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #262626;
}

.details-text p {
  margin-top: 12px;
  font-size: 14px;
  color: #929191;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  max-width: 300px;
}

.read-more {
  font-size: 14px;
  color: #ff5a00;
  text-decoration: none;
}


.featured-cause-bg {
  padding: 40px 14px;
  background: #edf3f5;
  margin-top: 50px;
  width: inherit;
  display: flex;
  justify-content: left;
  flex-basis: 0;
  flex-grow: 1;
  gap: 40px;
}

.featured-cause-bg img {
  width: 246px;
  height: 303px;
}

.fd {
  padding-top: 10px;
}

.fd-p {
  padding-bottom: 38px;
  padding-top: 10px;
}

.fund-raised {
  background: #edf3f5;
  padding-top: 20px;
  padding-bottom: 33px;
}

.funds {
  width: 90%;
  height: 5px;
  border-radius: 3px;
  background: #d6dee1;
  margin-left: 15px;
}

.funds-percentage {
  background: rgb(255, 90, 0);
  width: 74%;
  height: 5px;
  border-radius: 3px;
  position: relative;
}

.funds-percentage span {
  z-index: 2;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  border-radius: 50%;
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background: #ff5a00;
  color: #fff;
  left: 366.36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount {
  font-size: 14px;
  color: #929191;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-align: left;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 20px;
}


/* styling our causes */

#our-causes {
  background-image: linear-gradient(to left,
      rgba(253, 253, 253, 0.7),
      rgba(253, 253, 253, 0.7)), url(../assets/images/drinking_water.jpg);
  width: 98.74vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.h2-o {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 80px;
  color: black;
}

.h2-o::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 64px;
  /* Adjust the width as needed */
  height: 4px;
  /* Adjust the thickness of the border */
  background-color: #ff5a00;
  border-radius: 2px;
}

.swip-t {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swip-t img {
  width: 100%;
}

.swip-t h3 {
  padding-top: 20px;
}

.fundz {
  width: 85%;
  height: 5px;
  border-radius: 3px;
  background: #d6dee1;
  margin-left: 15px;
  margin-top: 10px;
}

.fundz-percentage {
  background: rgb(255, 90, 0);
  width: 67%;
  height: 5px;
  border-radius: 3px;
  position: relative;
}

.fundz-percentage span {
  z-index: 2;
  width: 42px;
  height: 42px;
  margin-top: -15px;
  border-radius: 60%;
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background: #ff5a00;
  color: #fff;
  left: 166.36px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.fundz-percentage-1 {
  background: rgb(255, 90, 0);
  width: 40%;
  height: 5px;
  border-radius: 3px;
  position: relative;
}

.fundz-percentage-1 span {
  z-index: 2;
  width: 42px;
  height: 42px;
  margin-top: -15px;
  border-radius: 60%;
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background: #ff5a00;
  color: #fff;
  left: 120.36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fundz-percentage-2 {
  background: rgb(255, 90, 0);
  width: 54%;
  height: 5px;
  border-radius: 3px;
  position: relative;
}

.fundz-percentage-2 span {
  z-index: 2;
  width: 42px;
  height: 42px;
  margin-top: -15px;
  border-radius: 60%;
  position: absolute;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  background: #ff5a00;
  color: #fff;
  left: 145.36px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.amounts {
  font-size: 14px;
  color: #929191;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-align: left;
  padding-left: 13px;
  padding-top: 10px;
  padding-bottom: 70px;
}


/* styling the footer */

#footer{
  background-image: linear-gradient(to left,
      rgba(253, 253, 253, 0.7),
      rgba(253, 253, 253, 0.7)), url(../assets/images/);
  width: 98.74vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}