/* Setting the margin top to be zero for all */
* {
  margin-top: 0;
}

/* adding in the fonts for to be used */
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-left: -0px;
}

#top-header {
  width: 89.99vw;
  display: flex;
  padding-left: 120px;
  
  background-color: #ff4800;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  color: #fff;
  font-size: 12px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
}

#contact-details a {
  color: #fff;
}

#contact-details :nth-child(1) {
  padding-right: 40px;
}

#donate {
  padding-right: 100px;
}

#donate button {
  border: 2px solid black;
  padding: 20px 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  background: black;
}

/* styling the nav bar */

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 12px;
  width: 90vw;
}

#nav-links {
  padding-top: 40px;
}

#nav-links span {
  padding-right: 40px;
}

nav img {
  width: 7%;
  padding-left: 50px;
}

#nav-links span a {
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
  font-weight: 500;
}


#nav-links span a:hover,
.links a {
  border-bottom: 3px solid #ff5a00;
  color: #ff5a00;
}

#hero-section {
  background-image: url(..//assets/images/hero_slider_img\ \(1\).jpg);
  width: 98.74vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: inherit;
  width: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  margin-top: -10px;
}

.text-wrapper {
  text-align: left;
  margin-left: -420px;
}

.header h1 {
  font-family: "Montserrat";
  font-size: 102px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.header h4 {
  font-family: "Montserrat";
  font-size: 46px;
  font-weight: 600;
}

.header-p {
  font-family: "Montserrat";
  ;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
  text-align: left;
  max-width: 700px;
}

.btns {
  margin-top: 3rem !important;
}

.btn-1,
.btn-2 {
  border: 2px solid #262626;
  border-radius: 24px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1;
  padding: 18px 40px;
  color: #fff;
  text-decoration: none;

}

.btn-1,
.btn-2:hover {
  border-color: transparent;
  background: linear-gradient(270deg, rgba(255, 90, 0, 1) 0%, rgba(255, 54, 0, 1) 100%);
  margin-right: 10px;
}

.btn-2 {
  border-color: #ff5a00;
  background-color: transparent;
}

/* styling icon box */
#icon-box {
  display: flex;
  gap: 30px;
  padding-left: 125px;
  padding-right: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 80vw;
}

.box-1,
.box-2:hover,
.box-3:hover {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid;
  border-radius: 24px;
  padding: 40px;
  border-color: transparent;
  background-color: #ff4800;
  max-width: 33.333333%;
  text-align: center;
}

.box-2 img,
.box-3 img {
  color: #262626;
}

.box-2,
.box-3 {
  font-size: 16px;
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid;
  border-radius: 24px;
  padding: 40px;
  border-color: transparent;
  background-color: #ff4800;
  background-color: #ecf2f5;
  max-width: 33.333333%;
  text-align: center;
}

.image-hover1 {
  background-image: url(../assets/icons/dance_music_gray.webp);
  width: 20%;
  height: 35%;
  background-size: contain;
  transition: 0.4s ease-in-out;
  /* Smooth transition */
  background-repeat: no-repeat;
  margin: 0 100px;
}

.image-hover1:hover {
  background-image: url(../assets/icons/dance_music.webp);
}

.image-hover2 {
  background-image: url(../assets/icons/online_conference_gray.webp);
  width: 20%;
  height: 35%;
  background-size: contain;
  transition: 0.4s ease-in-out;
  /* Smooth transition */
  background-repeat: no-repeat;
  margin: 0 100px;
}

.image-hover2:hover {
  background-image: url(../assets/icons/online_conference.webp);
}

/* styling the welcome section */
#welcome {
  background-image:linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ), url(../assets/images/hero_slider_img\ \(2\).jpg);
display: flex;
width: 81.1vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
justify-content: center;
align-items: center;
padding: 0 120px;
}

#welcome-img img{
  width: 540px;
  height: 481.28;
}

#welcome h2{
  padding-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #fff;
    border-bottom: 5px solid #ff5a00;  
}
